*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button{
  color: white;
  font-size: 2rem;
  background-color: rgb(44, 76, 255);
  text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .25);
  padding: .5rem 10rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .25rem;
  border-color: white;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .5);
  margin: auto;
  margin-top: 2rem;
  display: flex;
 
}


button:hover{
cursor: pointer;
opacity: 90%;
box-shadow: 0 .35rem .35rem rgba(0, 0, 0, .75);
  
}

button:active{
  opacity: 85%;

}







body{
  background: url(img/felt.jpg);
  background-repeat: repeat;
}

h1{
  text-align: center;
  color: white;
  text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .25);
  margin: 1rem;
  font-size: 3rem;
}


.header-img{
  width: 25rem;
  display: block;
  margin: auto;
  
}

.slotMachine{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem 0rem;
}

.casino{
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .5);
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  object-fit: cover;
  

  
}
